main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
input {
    width: 50px;
}
.newSpan {
    display: inline-flex;
    width: 171px;
    height: 248px;
    margin: 5px;
    background-color: white;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
body {
    background-color: whitesmoke;
}